<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>animateTransition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC9D35CE1CF734FF00C47152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC9D35E71CF734FF00C47152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC9D35F21CF734FF00C47152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
